valkey
visionapi @ git+https://github.com/starwit/vision-api.git@7a84570c38242d59aa321dbbd951a345c07da145#subdirectory=python/visionapi
visionlib @ git+https://github.com/starwit/vision-lib.git@ae20a16f7342aa86969d2a04ab128731fe822188#subdirectory=python